

<div class="row">
    <form class="col s12">

      <div class="input-field  col s6">
        <input name="url" id="url" type="text" ng-model="newUrl" label="Ignore Url"/>
        <label for="url">url</label>

      <button class="waves-effect waves-light btn" ng-click="add()">
        <i class=""></i> Add
      </button>
      </div>

    </div>
    <div class="col s12">
      <ul class="collection">
        <li ng-repeat="url in options.url" class="collection-item">
          <button class="waves-effect waves-light btn" ng-click="remove(url)">-</button>
          {{url}}
        </li>
      </ul>

    </div>
  </form>
<form ng-submit="save()">
  <button class="waves-effect waves-light btn" type="submit">
    <i class=""></i> Save
  </button>
</form>
